SECRET_KEY=replace_me
GITHUB_WEBHOOK_SECRET=replace_me
RESEND_API_KEY=replace_me
MAIL_FROM=replace_me@example.com
MAIL_TO=replace_me@example.com
SMARTLOCK_HARDWARE_API_KEY=replace_me
CLOUD_STORAGE_ROOT=/Users/administrator/Storage/cloud_storage
MINECRAFT_JOIN_HOST=solutions-hobby.gl.joinmc.link
MINECRAFT_JOIN_PORT=25565
MINECRAFT_SERVER_ROOT=/Users/administrator/Servers/minecraft
MINECRAFT_WORLD_NAME=world
MINECRAFT_LAUNCH_AGENT_LABEL=friedutchplus.minecraft.server
MINECRAFT_LAUNCH_AGENT_PLIST=/Users/administrator/Library/LaunchAgents/friedutchplus.minecraft.server.plist
MINECRAFT_SERVER_EDITION=Java Edition
MINECRAFT_SERVER_MODLOADER=Paper
MINECRAFT_SERVER_VERSION=1.21.x
MINECRAFT_SERVER_ACCESS=Public
